<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title th:text="${addition.name}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<header th:insert="parts/header :: header"></header>
<div class="container mt-5">

    <form class="needs-validation" th:action="@{/admin/editAddition}" method="post" enctype="multipart/form-data">
        <h2 id="basic-example">Добавка<a class="anchor-link" href="#basic-example"
                                         aria-label="Link to this section: Basic example"></a></h2>
        <br>
        <div class="row g-3">
            <div class="col-sm-4">
                <input type="text" class="form-control" th:value="${addition.name}" id="positionName" name="name" required>
                <input type="hidden" name="id" th:value="${addition.id}">
                <br>
                <div class="input-group">
                    <span class="input-group-text">Описание</span>
                    <textarea th:value="${addition.description}" th:text="${addition.description}"  name="description" class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
            <div class="col-sm-2">
                <img th:src="${addition.imageUrl}" width="132">
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Upload</label>
                    <input type="file" name="imageFile" accept="image/*" class="form-control" id="inputGroupFile01">
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <input type="number" th:value="${addition.price}" placeholder="Стоимость" class="form-control" step="0.01" required name="price" aria-label="Amount (to the nearest dollar)">
                        <span>BYN</span>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" id="active" name="active" th:checked="${addition.active==true}" th:value="${true}" required>
                        <label for="active">Активна</label><br>
                        <input type="radio" id="inactive" name="active" th:checked="${addition.active==false}" th:value="${false}" required>
                        <label for="inactive">Неактивна</label><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Подтвердить</button>
            </div>
            <div class="col-md-4">
                <a th:href="@{/admin/additionDelete(id=${addition.id})}" type="button" class="btn btn-danger">Удалить
                    добавку</a>
            </div>
        </div>
        <hr class="my-4">
    </form>
</div>
</body>
</html>